$display: flex;
$width: 100%;
$input-height: 45px;
$margin-bottom: 15px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.m_div {
  display: $display;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #bcd4ff;
  padding: 10px;
  margin-top:-90px
  
}

.login-container {
  max-width: 500px;
  width: $width;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 10px 5px 15px 10px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
 text-align: center;
}

.error{
  color:red;
  font-size: 20px;
}

.login-detail {
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.detail {
  display: block;
  font-weight: 500;
  font-size: 20px;
}


.input-box {
  margin-bottom: $margin-bottom;
  width: calc(100% - 10px);
  & input {
    height: 45px;
    width: $width;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(58, 49, 49);
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 3px;
  }
}

.btnLogin {
  width: 428px;
  height: $input-height;
  background: linear-gradient(rgb(186, 186, 255),rgb(181, 181, 250));
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 468px) {
  .login-container {
    max-width: 100%;
  }
  .input-box {
    max-width: 100%;
  }
  .btnLogin {
    width: 100%;
  }
}